/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #4A507D; }
.My-Color-Theme-2-hex { color: #95A1FC; }
.My-Color-Theme-3-hex { color: #E1E4FD; }
.My-Color-Theme-4-hex { color: #6F717D; }
.My-Color-Theme-5-hex { color: #7780C9; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(74, 80, 125, 1); }
.My-Color-Theme-2-rgba { color: rgba(149, 161, 252, 1); }
.My-Color-Theme-3-rgba { color: rgba(225, 228, 253, 1); }
.My-Color-Theme-4-rgba { color: rgba(111, 113, 125, 1); }
.My-Color-Theme-5-rgba { color: rgba(119, 128, 201, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(232, 25, 39, 1); }
.My-Color-Theme-2-hsla { color: hsla(233, 94, 78, 1); }
.My-Color-Theme-3-hsla { color: hsla(233, 87, 93, 1); }
.My-Color-Theme-4-hsla { color: hsla(231, 5, 46, 1); }
.My-Color-Theme-5-hsla { color: hsla(233, 43, 62, 1); }


